.regular-customers {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 480px) {
        width: 450px;
        gap: 30px;
    }

    &__item {
        width: calc((100% - 2 * 30px ) / 3);
       
    
        @media screen and (min-width: 1200px) {
            width: calc((100% - 5 * 30px ) / 6);
        }
    }
}
  
.customers-list__icon {
    @extend %center;
    height: 92px;
  
    background-color: $primary-bg-color;
    color: $icon-color;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    border-color: $icon-color;
    transition: color $primary-transition, border-color $primary-transition;
    fill: currentColor;

    &:hover,
    &:focus {
        color: $accent-color;
        border-color: $accent-color;
    }
}