.hero {
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;
    margin-left: auto;
    margin-right: auto;
    // max-height: 600px;
    // max-width: 1600px;
  
    background-color: $third-bg-color;
    color: $primary-bg-color;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
  
    letter-spacing: 0.06em;

    @media screen and (min-width: 1200px) {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  
}
  
  .hero-container {
    width: 360px;
    // max-width: 1600px;

    @media screen and (min-width: 1200px) {
      width: 696px;
    }

    &__title {
      margin-bottom: 30px;
    
      font-weight: 900;
      font-size: 26px;
      line-height: 0,6;
      text-transform: uppercase;

      @media screen and (min-width: 1200px) {
        font-size: 44px;
        line-height: 1,36;
      }
    }



    &__button {
      padding: 10px 32px;
      min-width: 216px;
    }

}