h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

.page {
  background-color: $primary-bg-color;
  color: $primary-text-color;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 480px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  align-items: center;
  height: 50px;

  background-color: $accent-color;
  color: $primary-bg-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color $primary-transition;

  font-weight: 700;
  line-height: 1.8;
  font-family: inherit;
  font-style: normal;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: $hover-hero-button;
  }
}

.section {

    @media screen and (max-width: 1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }


    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.features,
.examples-list,
.members-list,
.contacts-list,
.icons-list,
.customers-list {
  list-style: none;
}

.section__title {
    margin-bottom: 30px;
  
    color: $title-text-color;
  
    font-weight: 700;
    line-height: 1.16;
    text-align: center;

    @media screen and (max-width: 1199px) {
      margin-bottom: 50px;
      font-size: 28px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 50px;
      font-size: 36px;
    }
}

%center {
  display: flex;
  justify-content: center;
  align-items: center;
}